html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Noto Sans TC',PingFangSC-Regular,'Microsoft JhengHei', sans-serif;
}

.header {
  width: 100%;
}

.header h1 {
  padding: 20px 10px;
  color: #198964;
  font-size: 30px;
}

.header ul {
  background-color: #198964;
  letter-spacing: .3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.header ul li {
  padding: 20px 20px;
}

.header a {
  color: white;
  text-decoration: none;
  display: block;
}

.header a:hover {
  color: #ffffff93;
}

.footer {
  width: 100%;
  font-weight: 900;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  background-color: #198964;
}

.content {
  padding-top: 60px;
  padding-bottom: 60px;
}

.greenPoint {
  border-radius: 4px;
  background-color: #198964;
  -webkit-box-shadow: 4px 4px 32px -9px;
          box-shadow: 4px 4px 32px -9px;
  margin: 0 auto;
  width: 600px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 768px) {
  .greenPoint {
    width: 300px;
    height: 175px;
  }
}

.topGreen {
  height: 115px;
}

@media (max-width: 768px) {
  .topGreen {
    height: 57.5px;
  }
}

.topWhite {
  height: 60px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .topWhite {
    height: 30px;
  }
}

.point {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #909a92;
}

@media (max-width: 768px) {
  .point {
    height: 7.5px;
    width: 7.5px;
  }
}

.wrapBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.leftGreen {
  width: 160px;
}

@media (max-width: 768px) {
  .leftGreen {
    width: 80px;
  }
}

.middleWhiteBottom {
  background-color: #fff;
  width: 60px;
}

@media (max-width: 768px) {
  .middleWhiteBottom {
    width: 30px;
  }
}

.rightGreen {
  position: relative;
  width: 100%;
}

.wrapCountIn {
  font-size: 40px;
  text-align: center;
  line-height: 60px;
  font-weight: 900;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 400px;
}

@media (max-width: 768px) {
  .wrapCountIn {
    width: 200px;
    font-size: 20px;
    line-height: 30px;
  }
}

.count1 {
  height: 60px;
  color: #d9dad5;
  background-color: #1d3331;
}

@media (max-width: 768px) {
  .count1 {
    height: 30px;
  }
}

.in {
  color: #1d3331;
  background-color: #d9dad5;
  height: 60px;
}

@media (max-width: 768px) {
  .in {
    height: 30px;
  }
}
/*# sourceMappingURL=all.css.map */